<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="NlogInternalLog.log"
      autoReload="true">
    <variable name="layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true:padding=-5} | ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true:fixedlength=false:padding=-35}: ${message} | ${all-event-properties:includeCallerInformation=false} | ${exception:format=ToString,Data}"/>
    <targets async="true">
        <target name="file"
                xsi:type="File"
                fileName="${basedir}/log.log"
                layout="${layout}"
                archiveFileName="logs/log.{#}.log"
                archiveOldFileOnStartup="true"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="10"
                encoding="UTF-8" />

        <target name="debugger"
                xsi:type="Debugger"
                layout="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} (${logger}): ${message}"/>
    </targets>
    <!--日志等级,从高到低
    * Off
    * Fatal
    * Error
    * Warn
    * Info
    * Debug
    * Trace
  -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="debugger,file" />
    </rules>
</nlog>